testing/
results/
logs/
data/
.snakemake/
__pycache__/
*.pyc
workflow/tools/
.cache/
tmp/
containers/
workflow/containers/images/*.sif
testing/*.gfa.gz
ISO1
.ncbi/user-settings.mkfg
containers/pmdv.sif
